*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
}
.icon{
    color:#8a53ef;
    font-weight: bold;
    font-size: large;
}
header > div{
    display: flex;
    gap: 30px;
}
header > div >nav {
    display: flex;
    gap: 20px;   
}
header > div> nav > a{
    text-decoration: none;
    text-transform: capitalize;
    color: #0000009f;
}
header > div > button{
    display: flex;
    background-color: #8a53ef;
    color: white;
    text-transform: capitalize;
    border: none;
    padding: 1vh 3vw;
    border-radius: 5px;
}