*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
}
.icon{
    color:#8a53ef;
    font-weight: bold;
    font-size: large;
}
header > div{
    display: flex;
    gap: 30px;
}
header > div >nav {
    display: flex;
    gap: 20px;   
}
header > div> nav > a{
    text-decoration: none;
    text-transform: capitalize;
    color: #0000009f;
}
header > div > button{
    display: flex;
    background-color: #8a53ef;
    color: white;
    text-transform: capitalize;
    border: none;
    padding: 1vh 1vw;
    border-radius: 5px;
}
main >.firstimage> img{
    height: auto;
    width: 80%;
    padding-left: 20vw;
}
.child-sc{
    display: grid;
    justify-content: center;
    gap: 15px;
}
.child-sc >h2{
    display: flex;
    justify-content: center;
    color: #000000c8;
}
p{
    color: #5c5d9bd8;
    display: flex;
    /* justify-content: center; */
}
.child-sc > button{
    background-color: #8a53ef;
    color: white;
    border: none;
    padding: 1vh 3vw;
    border-radius: 5px;
    margin-inline: 150px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-weight: bold;
}  
.logos{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.second-section{
    padding: 50px  0;
    background-color: #7071b31c;
    display: grid;
    justify-content: center;
    gap: 40px;
}
.welcome{
    display: grid;
    gap: 10px;
    justify-content: center;
}
.welcome > h2{
    display: flex;
    justify-content: center;
    color: #000000c8;
}
.parent-cards{
    padding-inline: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 30px;
    text-align: center;
}
.card {
    display: grid;
    gap: 10px;
}
.card > h5 , svg{
    display: grid;
    justify-content: center;
}
.card > svg{
    position: relative;
    left: 45%;
    background-color: #d0ebfe;
    border-radius: 50%;
    padding: 4px;
    color: #0e3d5371;
}
